.introAbout{
    margin: 0;
    padding: 0;
    .container{
        .breadcrumb{
            .infobreadcrumb{
                color: #027492;
                font-weight: bold;
                padding: 0 5px;
            }
            .active{
                color: #6c757d;
            }    
        }
        .imgabout{
            width: 570px;
            border-radius: 5px;
        }
        .introInfo{
            padding-left: 20px;
        }
    }
}